snippet trace "description"
const trace = s => {console.log(s); return s;};
endsnippet

snippet useState "use state"
const [$1, set${1/\w+\s*/\u$0/}] = useState ()
endsnippet

snippet FC "description"
const $1 = props => {
	return (
		<div>
			$2
		</div>
	);
};
endsnippet
	
snippet log "description"
console.log('$1', $1);
endsnippet
