snippet log "description"
console.log("$1", $1)
endsnippet

snippet trace "description"
const tee = f => x => {
	f (x)
	return x
}
const trace = tee (console.log)
endsnippet

snippet c "c"
c ($1) ({}) ([
])
endsnippet

snippet cw "cw"
cw ($1) ({})
endsnippet

snippet useState "use state"
const [$1, set${1/\w+\s*/\u$0/}] = useState ()
endsnippet

snippet FC "description"
const $1 = props => {
	return (
		<div>
			$2
		</div>
	);
};
endsnippet
